@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Serif:400,700|Pacifico&display=swap');
@import url('https://use.fontawesome.com/releases/v5.8.2/css/all.css');

/* reset && typography */
 * {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'PT sans', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}

body {
    color: rgb(51, 51, 51);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'PT serif', serif;
    padding-bottom: 1em;
    margin: 0;
    margin-block-start: 0.33em;
}

h1 { font-size: 3.0rem;  }
h2 { font-size: 2.6rem; }
h3 { font-size: 2.2rem; }
h4 { font-size: 1.6rem; }
h5 { font-size: 1.4rem; }
h6 { font-size: 1.2rem; }

p, ul, ol {
    padding-bottom: 1rem;
}


/* .App */
.App {
    height: auto;
    min-height: 100vh;
    display:flex; 
    flex-direction:column;
    /* background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4)), url('../src/photos/jeshoots-com-7VOyZ0-iO0o-unsplash.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

/* header */

.site-header {
    width: 100%;
    height: auto;
    z-index: 2;
    background: rgba(252, 239, 236, 0.7);
    padding: 0.3rem 1rem;
}

.site-header a {
    text-decoration: none;
}

.site-header nav {
    display: inline-block;  
}

.site-header nav span {
    margin-left: 1em;  
    color: rgb(216, 28, 94);
    font-weight: bold;
}

.site-header nav ul {
    padding: 0;
    display: inline;
    background-color: rgb(216, 28, 94);
    padding: 1em;
    margin-left: 6em;
}

.site-header ul li {
    display: inline-block; 
    margin-bottom: 1rem;   
}

.site-header ul li {
    margin-right: 0.8rem;
}

.site-header ul li :hover, 
.site-header button:hover {
  background-color: rgb(216, 28, 94);
  color: rgb(66, 42, 19);
  box-shadow: none;
}

.site-header ul li a,
.site-header button {
    background: rgb(216, 28, 94);
    color: rgb(250, 240, 223);
    text-decoration: none;
    padding: 0.4rem;
    border-color: rgb(216, 28, 94);
    border-radius: 0.4em;
    /* box-shadow: 2px 2px 2px rgba(233, 103, 68, 0.8); */
    transition: 0.3s;
}

.site-header ul li a:before {
    font-family: 'Font Awesome 5 Free';
    content: '\f11b';
    display: inline-block;
    font-weight: 900;
    padding-right: 0.4rem;
}

.site-header ul li:nth-child(2) a:before {
    content: '\f007'
}

.site-header ul li:nth-child(3) a:before {
    content: '\f2f6'
}

.site-header ul li:nth-child(4) a:before {
    content: '\f2f5'
}

.site-header ul li:nth-child(5) a:before {
    content: '\f3c5';
}

.header-title {
    display: inline-block;
    min-width: 30%;
    font-family: 'Pacifico', serif;
    font-size: 30px;
    text-align: left;
    color: rgb(216, 28, 94);
    padding: 0.3em 0 0 0.7em ;
    margin-bottom: 0.4em;
}

.header-title span {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2em;
  padding: 0.2em;
  margin:  0em 0.5em 0 0em;
  border: 2px solid rgb(216, 28, 94);
  border-radius: 50%;
}

/* main */
main {
    width: 100%;
    min-height: 80vh;
}
main section {
    text-align: center;
    width: 100%;
    height: auto;
}

main p {
    font-size: 20px;
}

.main-section { 
    padding: 7.9rem 0;
    color: rgb(189, 35, 35);
}

.main-section h1 {
    letter-spacing: 2px;
    max-width: 50%;
    margin: 0 auto;
    text-shadow: 2px 2px 2px rgba(38,16,10,0.8); 
}

.main-section p {
    max-width: 50%; 
    margin: 1rem auto;
}

.main-section a.link-button {
    padding: 0.4rem 1.6rem;
    background: rgb(216, 28, 94);
    color: rgb(247, 230, 199);
    border-color: rgb(216, 28, 94);
    border-radius: 0.5rem;
    font-size: 1.2rem;
    text-decoration: none;
    box-shadow: 2px 2px 2px rgba(38,16,10,0.8);
    transition: 0.3s;
}

.main-section a.link-buttona.link-button:hover {
    box-shadow: none;
    opacity: 1;
}

/* recipes */

section.all-recipes {
    /* border: 1px solid grey; */
    background-color: white;
    box-shadow: 10px 10px 20px grey;
    width: 90%;
    margin: 1em auto;
    padding: 1em 2em;
}

section.all-recipes h1{
    font-family: 'Pacifico', serif;
    font-size: 2.4em;
    text-align: center;
    color: rgb(216, 28, 94);
    padding: 0.3em 0 0 0.7em ;
    margin-bottom: 0.4em;
}

section.all-recipes div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.recipe-tile {
    flex: 0 1 30%;
    border: 1px solid rgba(128, 128, 128, 0.774);
    width: calc( (100% / 3) - 2em );
    height: 30em;
    padding: 0.8em;
    margin: 1em;
}

div.recipe-tile img {
    width: 90%;
    height: 70%;
    margin: 0.4em auto;
}

div.recipe-tile div {
    flex-flow: column;
    margin: 0 auto;
    align-content: center;
    width: 90%;
}

div.recipe-tile .recipe-title {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0 auto;
    padding-bottom: 0;
}

div.recipe-tile div .recipe-stats {
    flex-flow: row;
}

div.recipe-tile div a,
div.details-recipe div div a {
    padding: 0.4rem 1.6rem;
    background: rgb(216, 28, 94);
    color: rgb(247, 230, 199);
    border-color: rgb(216, 28, 94);
    border-radius: 0.5rem;
    font-size: 1.2rem;
    text-decoration: none;
    box-shadow: 2px 2px 2px rgba(38,16,10,0.8);
    transition: 0.3s;
}

/* recipe-details */
section.details-recipe {
    background-color: white;
    box-shadow: 10px 10px 20px grey;
    width: 90%;
    margin: 1em auto;
    padding: 2em 2em;
}

section.details-recipe h2 {
    font-family: 'Pacifico', serif;
    font-size: 2.4em;
    text-align: center;
    color: rgb(216, 28, 94);
    padding: 0.3em 0 0 0.7em ;
    margin-bottom: 0.4em;
}

section.details-recipe img {
    width: 30%;
    height: 30em;
}

.details-recipe .recipe-stats {
    margin: 2em auto;
}

.details-recipe .recipe-stats span {
    margin: 0 2em;
}

.details-recipe .recipe-ingredients span,
.details-recipe h4{
    font-weight: bold;
    color: rgb(216, 28, 94);
}

.details-recipe .recipe-author {
    text-align: right;
    padding-right: 3em;
}



/* profile-page */

section.profile  {
    background-color: rgba(255, 255, 255, 0.6);
    width: 80%;
    height: auto;
    margin: 1em auto;
    padding: 1em;
}

div.profile {
    background-color: wheat;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    margin: 1em auto;   
}
.profile div {
    display: flex;
    flex-flow: row nowrap;
    line-height: 1.5em;
}
.profile div label {
    display: block;
    width: 49%;
    margin-right: 1em;
    text-align: right;
}

.profile p {
    margin-top: 2em;
    text-align: center;
}

.profile div a {
    margin: 1em auto;
    color: white;
    padding: 0.5em 1em;
    background-color: rgb(223, 4, 82);
    border-radius: 0.5em;
    text-decoration: none;
}

/* error-page */

section.error-section {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    width: 70%;
    color: wheat;
    padding-top: 1em;
    padding-bottom: 20em;
    margin: 0 auto;
}

.error-section a {
    color: rgb(207, 111, 111);
    font-weight: bold;
}


/* ContactPage */
.contact-map {
    padding: 1rem 2rem;
    margin: 0 auto;
    color: rgb(216, 28, 94);
    font-weight: bold;
    text-shadow: 2px 2px 5px grey;
    text-align: center;
    /* text-align: center; */
}

.contact-map iframe{
    box-shadow: 10px 10px 20px grey;
}

/* footer */
footer {
    background-color: rgba(248, 221, 170, 0);
    color: rgb(216, 28, 94);
    font-weight: bold;
    text-shadow: 2px 2px 5px grey;
    font-size: 1.3em;
    width: 100%;
    height: 2em;
    z-index: 3;
}

footer p {
    text-align: center;
    margin: 0 auto;
    text-shadow: 2px 2px 2px rgba(38,16,10,0.8);
}