.form-layout {
    font-family: sans-serif;
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.3);
    /* border-radius: 0.4em; */
    background-color: rgba(255, 255, 255, 0.4);
    max-width: 70%;
    margin: 2rem auto;
}

.form-layout div {
    display: flex;
    flex-flow: row nowrap;
    line-height: 2em;
    margin: 5px; 
    /* margin-left: 16px;   */
}

.form-layout h2 {
    text-align: center;
    color: rgb(44, 41, 41);
}

.form-layout Form {
    max-width: 600px;
    margin: 10px auto;
}

.form-layout label {
    color: rgb(68, 65, 65);
    width: 110px;
    font-size: 1em;
    line-height: 32px;
}
.form-layout input,
.form-layout select,
.form-layout textarea {
    flex: 1;
    padding: 3px 5px;
    font-size: 1em;
    margin-left: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-layout div label {
    display: block; 
    text-align: left;
}

.form-layout div input {
    margin-right: 3px;  
}

.form-layout div span {
    line-height: 32px;
    margin-left: 10px;
    color: #800;
    font-weight: bold;
}

.form-layout .buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 15px;
}
.form-layout button {
    margin: 0 0.6em;
    padding: 0.7em;
    border-radius: 0.5em;
}

.form-layout button:hover {
    color: red;
    box-shadow: none;
}

.form-layout button[type='submit'] {
    color: white;
    background-color: orange;
}
.form-layout button[type='button'] {
    font-weight: bold;
    color: rgb(245, 88, 88);
}

.form-layout .buttons a {
    /* background-color: orange; */
    font-weight: bold;
    color: orange;
    text-decoration: none;
    border-radius: 0.5em;
    padding: 0 1em;
}

pre {
    border: 1px solid #ccc;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

